h1 {
    color: white;
    text-align: center;
    text-decoration: solid;
    text-rendering: geometricPrecision;
    text-overflow: ellipsis;
    text-anchor: var(text-anchor);
    
}

h2 {
    color: white;
    text-align: center;
    text-shadow: crimson;
}
body {
    table {
      padding: content: ; }
}

